examples/ISU_ILCC_LFPGr/data_raw/
examples/ISU_ILCC_NMCGr/data_raw/
examples/MATR_LFPGr_FastCharge/data_raw/
examples/MATR_LFPGr_FastCharge/figs/figs_per_cell/
examples/MATR_NMCGr_Formation/data_raw/
examples/MATR_NMCGr_Formation/figs/figs_per_cell/

src/battimal/models/chronos_trajectory/chronos2_weights

src/battimal.egg-info/
build/
__pycache__/
.vscode
.ipynb_checkpoints

*.pyc
*.h5
*.pkl
*.ckpt
*.json
*.safetensors
*.DS_Store